@charset "utf-8";

@font-face {
  font-family: 'Nanum Square';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumSquareR.woff2) format('woff2'),
       url(../fonts/NanumSquareR.woff) format('woff'),
       url(../fonts/NanumSquareR.ttf) format('truetype');
  unicode-range:U+0041-005A,U+0061-007A,U+0030-0039,U+AC00-CCCB,U+CCCD-D7A3;
}

body, button, input, select, textarea {font-family:'Nanum Square', '맑은 고딕', 'Malgun Gothic', 'Dotum', '돋움', 'gulim', '굴림', Helvetica, sans-serif; font-weight:400;}

html{font-size:15px;}
html, body, div, span, ul, li, h1, h2, h3, table{margin:0;padding:0;}
body, button, input {border:0;color:#000;font-size:1.0rem;font-weight:400;}
li {list-style:none;}
a:link, a:hover{text-decoration:none;}

/* Page */
.page{width:100%;margin:0;}

/* searchBar */
.searchBar{width:100%;border-bottom:2px solid #10ce72;box-shadow:0 0 0.5em rgba(1, 1, 1, 0.3);
    background-color:#FFF;position:fixed;top:0px;}
.searchBar span:first-child{width:calc(100% - 50px);display:inline-block;text-align:center;}
.searchBar .keyword{width:90%;border:1px solid #CCC;margin:12px;font-size:1.3em;border-radius:5px;
    box-shadow:0 0 0.2em rgba(1, 0, 0, 0.2) inset;padding:5px;}
.searchBar span:last-child{width:50px;display:inline-block;}
.searchBar .btnSearch{width:40px;background:url(../image/ico_search.png) no-repeat center center;
  display:inline-block;height:40px;background-size:35px;vertical-align:middle;
  background-color:#10ce72;border-radius:5px;margin-top:-8px;}

/* contents */
.contents{width:100%;margin:70px 0px;}
.contents .listview{width:100%;}
.contents .listview li{padding:7px 10px;text-align:center;border-bottom:1px solid #CCC;}
.contents .listview li.nodata{display:inline-block;padding:15px 0px;width:100%;}

/* tabBar */
.tabBar{width:calc(100% - 20px);padding:10px;position:fixed;bottom:0px;background-color:#FFF;}
.tabBar div{width:calc(50% - 7px);float:left;border:1px solid #10ce72;padding:15px 0px;
  font-size:1.2em;text-align:center;border-radius:5px;color:#10ce72;}
.tabBar div:last-child{float:right;}
.tabBar div.on{background-color:#10ce72;color:#FFF;}

/* AlertDialog */
.alertBox{width:100%;height:100%;display:table;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;
  background-color:rgba(0,0,0,0.2);z-index:99;}
.alertAlign{position:relative;display:table-cell;height:100%;vertical-align:middle;width:100%;padding:0px 35px;}
.alertDialog{width:100%;min-height:130px;background-color:#FFF;border-radius:10px;position:relative;
  transform:scale(0.5);transition:transform 0.2s ease-out;border:1px solid #8a8169;}
.alertDialog.on{transform:scale(1);}
.alertHeader{text-align:left;height:35px;font-size:1.05em;line-height:35px;font-weight:700;padding-left:20px;
  padding-top:15px;}
.alertBody{display:inline-block;width:100%;}
.alertBody span{display:inline-block;width:calc(100% - 20px);line-height:20px;font-size:0.9em;padding:5px 10px 10px 10px;text-align:center;}
.alertButtons{text-align:center;position:absolute;left:calc(50% - 20px);bottom:-20px;}
.alertClose{width:40px;height:40px;border:1px solid #8a8169;border-radius:25px;background:url(../image/ico_close_black.png) no-repeat center center;
  background-color:#FFF;background-size:20px;}

/* NewsRow */
.newsRow{width:calc(100% - 20px);padding:10px;display:inline-block;}
.newsRow span{display:inline-block;width:100%;text-align:left;}
.newsRow span.title{font-size:1.1em;color:#000;font-weight:700;}
.newsRow span.title.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;width:100%;}
.newsRow span.date{font-size:0.7em;color:#999;}
.newsRow span.desc.ellipsis{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;width:100%;
  -webkit-line-clamp:2;-webkit-box-orient:vertical;}

/* BookRow */
.bookRow{width:calc(100% - 20px);padding:10px;display:inline-block;}
.bookRow div.imgDiv{width:100px;float:left;}
.bookRow div.imgDiv img{width:80px;padding:0px 10px;}
.bookRow div.infoDiv{width:calc(100% - 100px);float:right;}
.bookRow div.infoDiv span{display:inline-block;width:100%;text-align:left;}
.bookRow div.infoDiv span.title{font-size:1.1em;font-weight:700;}
.bookRow div.infoDiv span.title.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;width:100%;}
.bookRow div.infoDiv span.author{font-size:0.8em;color:#999;padding:4px 0px;}
.bookRow div.infoDiv span.desc.ellipsis{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;width:100%;
  -webkit-line-clamp:4;-webkit-box-orient:vertical;}

/* PopupDialog */
.popBox{width:100%;height:100%;display:table;overflow:hidden;position:fixed;top:0;right:0;
  bottom:0;left:0;background-color:rgba(0,0,0,0.4);z-index:10;}
.popDialog{width:100%;min-height:150px;background-color:#FFF;border-radius:5px;position:fixed;bottom:0;
    transform:translate(0, 100%);transition:transform 0.25s ease-out;border-radius:20px 20px 0 0;}
.popDialog.on{transform:translate(0, 0);}
.popDialog .btnClose{position:absolute;top:15px;right:15px;width:40px;height:40px;
  background:url(../image/btn_close.png) no-repeat center center; background-size:50px auto;}
.popHead{font-size:1.1em;font-weight:700;padding:25px 0px 20px 20px;}
.popBody{overflow-y:auto;padding:0px 20px;width:calc(100% - 40px);min-height:300px;}
.popButtons{padding:20px;width:calc(100% - 40px);}
.popButtons .btnLink{display:inline-block;width:100%;background-color:#1994da;color:#FFF;
  border-radius:5px;padding:12px 0px;font-size:1.2em;}

